*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Outfit", sans-serif;

}

header{
    background-color: rgb(77, 77, 77);
    width: 100%;
    color: white;
    padding: 25px;
    text-align: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
}

.card img{
    max-width: 100%;
    align-items: center;
    height: auto;
    margin-bottom: 1rem;
}

#celta{
    height: 235px;
}

.card{
    margin: 1rem;
    background-color: rgb(255, 255, 255);
    padding: 1.7rem;
    width: 300px;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    box-shadow: 2px 2px 5px black;
    background: linear-gradient(to top, rgb(169 169 169), rgb(253 253 253), #ffffff );
}

h2{
    text-align: center;
    padding: 8px;
    margin: 2px;

}

p{
    padding: 5px;
    margin-bottom: 5px;
}

span{
    display: block;
    font-weight: bold;
    font-size: 1.8rem;
}

button{
    background-color: rgb(8, 68, 128);
    color: #fff;
    padding: 0.6rem 1rem;
    border: none;
    margin-top: 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s;
    transition: box-shadow 0.2 ease;
}

button:hover{
    background-color:  rgb(10, 41, 71);
    transition: 0.8s;
    box-shadow: 0 4px 8px rgb(10, 41, 71);
    transform: translateY(2px);
}