*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Outfit", sans-serif;
    overflow: hidden;

}

header{
    background-color: rgb(77, 77, 77);
    color: white;
    padding: 25px;
    text-align: center;
}

.container{
    display: flex;
}

.card img{
    width: 230px;
    align-items: center;
    height: 70%;
}

.card{
    margin: 20px;
    background-color: rgb(255, 255, 255);
    padding: 35px;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    box-shadow: 2px 2px 5px black;
}

h2{
    text-align: center;
    padding: 8px;
    margin: 2px;

}

p{
    padding: 5px;
    margin-bottom: 5px;
}